{% extends 'base.html' %}

{% block content %}
    <h1>{% block title %} About {% endblock %}</h1>
    <style type="text/css">
        .tg  {border-collapse:collapse;border-spacing:0;}
        .tg td{border-color:black;border-style:solid;border-width:1px;font-family:Arial, sans-serif;font-size:14px;
	          overflow:hidden;padding:10px 5px;word-break:normal;}
	          .tg th{border-color:black;border-style:solid;border-width:1px;font-family:Arial, sans-serif;font-size:14px;
		    font-weight:normal;overflow:hidden;padding:10px 5px;word-break:normal;}
        .tg .tg-0lax{text-align:left;vertical-align:top}
	.tg .tg-predict{background-color: gold}
    </style>
    <p>
    Multinomial Naive Bayes classifier trained on feature vectors extracted by CountVectorizer.</br>
    Feature vectors represent 6 classes of gene families:
    <table class="tg">
      <thead>
        <tr>
          <td class="tg-0lax">Gene family</td>
          <td class="tg-0lax">Number</td>
          <td class="tg-0lax">Class Label</td>
        </tr>
      </thead>
      <tr>
        <td class="tg-0lax">G protein coupled receptors</td>
        <td class="tg-0lax">531</td>
        <td class="tg-0lax">0</td>
      </tr>
      <tr>
        <td class="tg-0lax">Tyrosine kinase</td>
        <td class="tg-0lax">534</td>
        <td class="tg-0lax">1</td>
      </tr>
      <tr>
        <td class="tg-0lax">Tyrosine phospotase</td>
        <td class="tg-0lax">349</td>
        <td class="tg-0lax">2</td>
      </tr>
      <tr>
        <td class="tg-0lax">Synthetase</td>
        <td class="tg-0lax">632</td>
        <td class="tg-0lax">3</td>
      </tr>
      <tr>
        <td class="tg-0lax">Synthase</td>
        <td class="tg-0lax">711</td>
        <td class="tg-0lax">4</td>
      </tr>
      <tr>
        <td class="tg-0lax">Ion channel</td>
        <td class="tg-0lax">240</td>
        <td class="tg-0lax">5</td>
      </tr>
      <tr>
        <td class="tg-0lax">Transcription factor</td>
        <td class="tg-0lax">1341</td>
        <td class="tg-0lax">6</td>
      </tr>
    </table>
    </p>
    <p
    <ul>
        <li>Model was trained on DNA Coding Sequences from Human gene families</li>
        <li>Learning generalized to Chimpanzee and Dog gene sequences</li>
    </ul>
    </p>
    <p>
    <a href="https://github.com/ai-dave/capstone">git repo</a></br>
    <a href="https://github.com/ai-dave/ml-gene-pub">preliminary work</a></br>
    </p>
    <p>
        <h2>Usage:</h2>
        <p>
            <h3>Browser App</h3>
	    Submit Queries using Sequences and Annotations from Hints</br>
        </p>
        <p>
	    <h3>API</h3>
            <code>curl -H "Content-Type: application/json"  http://45.33.108.171:80/api/  -d @payload-1.json</code>
            <code style="white-space: nowrap;">
	        $ cat payload-1.json</br>
	        {</br>
	        &nbsp;&nbsp;&nbsp;"sequence": "atggcgcccacctggggccctggcatggtgtctgtggttggtcccatgggcctccttgtggtcctgctcgttggaggctgtgcagcagaagagccccccaggtttatcaaagaacccaaggaccagatcggcgtgtcggggggcgtggcctctttcgtgtgtcaggccacgggtgaccccaagccacgagtgacctggaacaagaagggcaagaaggtcaactctcagcgctttgagacgattgagtttgatgagagtgcaggggcagtgctgaggatccagccgctgaggacaccgcgggatgaaaacgtgtacgagtgtgtggcccagaactcggttggggagatcacagtccatgccaagctcactgtcctccgaggaccttga",</br>
	        &nbsp;&nbsp;&nbsp;"annotation": "Chimp-Tyrosine-phosphotase-SEQUENCE-141"</br>
	        }
            </code>
        </p>
    </p>

{% endblock %}
