{% extends 'base.html' %}

{% block content %}
    <h1>{% block title %} Course Material {% endblock %}</h1>
    <style type="text/css">
        .tg  {border-collapse:collapse;border-spacing:0;}
        .tg td{border-color:black;border-style:solid;border-width:1px;font-family:Arial, sans-serif;font-size:14px;
	          overflow:hidden;padding:10px 5px;word-break:normal;}
	          .tg th{border-color:black;border-style:solid;border-width:1px;font-family:Arial, sans-serif;font-size:14px;
		    font-weight:normal;overflow:hidden;padding:10px 5px;word-break:normal;}
        .tg .tg-0lax{text-align:left;vertical-align:top}
	.tg .tg-predict{background-color: gold}
    </style>
    </p>
    <h3>Course Links</h3>
    <p>
    <li><a href="https://github.com/ai-dave/mec-mini-projects">mec-mini-projects repo</a></li>
    <li><a href="https://github.com/ai-dave/capstone/blob/main/report/Capstone.pdf">capstone report pdf</a></li>
    <li><a href="https://github.com/ai-dave/capstone">capstone git repo</a></li>
    <li><a href="https://github.com/ai-dave/ml-gene-pub">exploratory work</a></li>
    </p>
{% endblock %}
