{% extends 'base.html' %}

{% block content %}
    <style type="text/css">
        .tg  {border-collapse:collapse;border-spacing:0;}
        .tg td{border-color:black;border-style:solid;border-width:1px;font-family:Arial, sans-serif;font-size:14px;
	          overflow:hidden;padding:10px 5px;word-break:normal;}
	          .tg th{border-color:black;border-style:solid;border-width:1px;font-family:Arial, sans-serif;font-size:14px;
		    font-weight:normal;overflow:hidden;padding:10px 5px;word-break:normal;}
        .tg .tg-0lax{text-align:left;vertical-align:top}
	.tg .tg-predict{background-color: gold}
    </style>
    <h1>{% block title %} Hints {% endblock %}</h1>
    {% for seq in data %}
        <div class='message'>
            <table class="tg">
		<tr><td class="tg-01ax">{{ seq['annotation'] }}</td></tr>
		<tr><td class="tg-01ax">{{ seq['sequence'] }}</td></tr>
	    </table>
        </div>
    {% endfor %}
{% endblock %}
